.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
ul, li {
  list-style: none;
}
li {
  float: left;
  width: 100px;
  height: 100px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li span {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}